body {
  margin: 0;
  background-color: rgb(235, 235, 235);
}
.alert-message {
  font-size: 1.1rem;
  font-family: "Microsoft JhengHei";
  background-color: rgb(255, 217, 217);
  color: rgb(177, 42, 42);
  text-align: center;
  width: 100%;
  height: 3.5rem;
  line-height: 3em;
  text-shadow: 0.6px 0.6px 0.6px rgb(134, 134, 134);
  box-shadow: 1px 1px 3px rgb(161, 161, 161);
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
  border: none;
  background-color: rgb(255, 217, 217);
  color: gray;
  cursor: pointer;
  height: 3.5rem;
  margin-right: 0.6em;
}
h2,
h4 {
  margin: 0.8em 0;
}
h2 {
  margin: 1.1em 0;
}
.login-form {
  text-align: center;
  margin: 10px;
}
input {
  box-sizing: border-box;
  width: 100%;
  height: 2.2em;
}
.summit-btn {
  margin-top: 1.6em;
  height: 2.2em;
  width: 100%;
  background-color: rgb(19, 100, 167);
  color: white;
  border: none;
  border-radius: 0.6em;
  cursor: pointer;
}
.summit-btn:hover {
  background-color: rgb(39, 131, 206);
}
@media only screen and (min-width: 525px) {
  input,
  .summit-btn {
    width: 53%;
  }
}
@media only screen and (min-width: 996px) {
  input,
  .summit-btn {
    width: 30%;
  }
}
