{% extends "layout.html" %} {% block css_href %}
<link href="static/css/index.css" rel="stylesheet" />
{%endblock %} {% block title %}登入頁面{% endblock %} {% block content %} {%
with messages = get_flashed_messages() %} {% if messages %}
<div class="alert-message">
  {{ messages[-1] }}
  <button type="button" class="close">
    <span>&times;</span>
  </button>
</div>
{% endif %} {% endwith %}
<form
  name="login-form"
  class="login-form"
  action="/"
  method="POST"
  onsubmit="return validateLoginForm()"
>
  <h2>登入</h2>
  <h4>使用者名稱</h4>
  <input type="text" name="name" placeholder="使用者名稱" />
  <h4>密碼</h4>
  <input type="password" name="password" placeholder="密碼" />
  <br />
  <button class="summit-btn" type="submit">登入</button>
</form>
{%endblock %}
