{% extends "layout.html" %} {% block css_href %}
<link href="static/css/news.css" rel="stylesheet" />
<link href="static/css/loadingIcon.css" rel="stylesheet" />
<link href="static/css/loadingIcon2.css" rel="stylesheet" />
{% endblock %} {% block title %}變更最新消息{% endblock %} {% block content %}
<div class="container">
  <div class="title-container">
    <h1>最新消息</h1>
    <div class="logout-div">
      <a class="logout-link" href="{{ url_for('logout') }}"
        >登出 ({{username}})</a
      >
    </div>
  </div>
  <div class="news-data-div">
    <div class="grid-container">
      <div class="type grid-item">類別</div>
      <div class="type grid-item">時間</div>
      <div class="type grid-item">標題</div>
      <div class="type grid-item">內容</div>
      <div class="type grid-item">附件</div>
      <div class="type grid-item">編輯</div>
      <div class="type grid-item btn-grid">刪除</div>
      {% for item in news %}
      <div class="grid-item">{{ item.author }}</div>
      <div class="grid-item">{{ item.datetime }}</div>
      <div class="grid-item">{{ item.title }}</div>
      <div class="grid-item news-content">
        {{- item.content | replace("&lt;", "<") | replace("&gt;", ">") |
        replace("&nbsp;", " ") | replace("<"+"br/>", "\n") -}}
      </div>
      <div class="grid-item">{{ item.files|length }}</div>
      <div class="grid-item edit-grid">
        <button class="edit-btn" id="{{ item.newsId }}">
          <span><i class="fas fa-pen"></i></span>
        </button>
      </div>
      <div class="grid-item btn-grid">
        <button class="delete-btn" id="{{ item.newsId }}">
          <span><i class="fas fa-trash"></i></span>
        </button>
      </div>
      {% endfor %}
    </div>
    <button class="show-add-card">新增</button>
  </div>
</div>
<form
  name="add-news-form"
  action="javascript:void(0);"
  enctype="multipart/form-data"
  style="display: none"
>
  <h2 class="add-news-title">新增最新消息</h2>
  <div class="add-news-card">
    <h4>類別</h4>
    <input name="author" type="text" placeholder="類別" />
    <h4>標題</h4>
    <input name="title" type="text" placeholder="標題" />
    <h4>內容</h4>
    <textarea
      name="content"
      rows="10"
      placeholder="內容 {% if is_premium %}( 允許使用html tag ){% endif %}"
    ></textarea>
    <input id="FileUpload" type="file" multiple />
    <label for="FileUpload">附件</label>
    <div class="loader loadingio-spinner-spinner-yjshld8r7re">
      <div class="ldio-urey01agax">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <ol class="file-list"></ol>
    <button class="cancel-btn" onclick="reset_form()">取消</button>
    <button class="add-news-btn" type="submit">新增</button>
  </div>
</form>
<div class="overlay"></div>
{% endblock %}
