{% extends "layout.html" %} {% block css_href %}
<link href="{{ url_for('static', filename='news.css') }}" rel="stylesheet" />
{% endblock %} {% block title %}變更最新消息{% endblock %} {% block content %}
<div class="container">
  <h1>最新消息</h1>
  <div class="logout-div">
    <a class="logout-link" href="{{ url_for('logout') }}"
      >登出 ({{username}})</a
    >
  </div>
</div>
<div class="grid-container">
  <div class="type grid-item">類別</div>
  <div class="type grid-item">時間</div>
  <div class="type grid-item">標題</div>
  <div class="type grid-item">內容</div>
  <div class="type grid-item">檔案</div>
  <div class="type grid-item btn-grid">刪除</div>
  {% for item in news %}
  <div class="grid-item">{{ item.author }}</div>
  <div class="grid-item">{{ item.datetime }}</div>
  <div class="grid-item">{{ item.title }}</div>
  <div class="grid-item news-content">
    {{ item.content | replace("&lt;", "<") | replace("&gt;", ">") |
    replace("&nbsp;"," ") | replace("<"+"br/>", " ") }}
  </div>
  <div class="grid-item">{{ item.files|length }}</div>
  <div class="grid-item btn-grid">
    <button class="delete-btn" id="{{ item.newsId }}">
      <span>&times;</span>
    </button>
  </div>
  {% endfor %}
</div>
<form
  name="add-news-form"
  action="javascript:void(0);"
  enctype="multipart/form-data"
>
  <h2>新增最新消息</h2>
  <div class="add-news-card">
    <h4>類別</h4>
    <input name="author" type="text" placeholder="類別" />
    <h4>標題</h4>
    <input name="title" type="text" placeholder="標題" />
    <h4>內容</h4>
    <textarea
      name="content"
      rows="10"
      placeholder="內容 {% if username == 'Mary' %}( 允許使用html tag ){% endif %}"
    ></textarea>
    <div class="flexbox-container">
      <input id="FileUpload" type="file" multiple />
      <label for="FileUpload">附件</label>
    </div>
    <button class="add-news-btn" type="submit">新增</button>
  </div>
</form>
{% endblock %}
